@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.cards-header {
  @include flex-settings(row, space-between, flex-start);
  width: clamp(200px, 90vw,1100px);
  padding-bottom: 29px;
  margin: 0 auto;
  h2 {
    font: $heading_font_6;
  }
}