@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.cart-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: $color_oxford_blue;
  background-color: $color_athens_gray_lighter;
  padding: 7vh 8vw 5vh;
  @include flex-settings(column, flex-start, flex-start);
  z-index: 30;
 
  span {
    position: absolute;
    font: $body_font_1_600;
    top: 2vh;
    right: 2vw;
    background-color: $color_silver;
    padding: 0.5vh 0.5vw;
  }

  p {
    font: $body_font_1_extra_high;
  }

  button {
    font: $body_font_1_600;
    border: none;
    color: inherit;
    background: none;
  }

  div {
    width: 100%;
  }
  .cart-header {
    @include flex-settings(row, flex-start, center);
    flex-wrap: wrap;
    padding: 1.5vh 0;
    h3 {
      font: $heading_font_7;
      padding-bottom: 0.5vh;
    }
    p {
      padding: 0 0.5vw;
    }
  }

  .cart-card {
    @include flex-settings(row, flex-start, stretch);
    height: 100px;
    margin-bottom: 1vh;
  
    div {
      border: 1px solid $color_silver;
    }

    .cart-card-image {
      width: 35%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: $color_white;
      }
    }

    .cart-card-content {
      @include flex-settings(column, center, center);
      
      h5 {
        font: $heading_font_6;
        overflow-wrap: break-word;
        padding-bottom: 1vh;
      }
      
      .edit-cart {
        @include flex-settings(row, flex-start, center);
        position: relative;
        border: none;
        
        input {
          width: $measure;
          height: $min_measure;
          text-align: center;
          border: 0.5px solid $color_rangitoto_black;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0; 
        }

        .btn {
          margin: 0 0.5vw;
        @include custom-buttons($min_measure, $min_measure, $color_rangitoto_black, transparent, $color_oxford_blue);
        &:hover {
          background-color: $color_white;
        }
      }

      .btn-absolute {
        @include custom-buttons($min_measure, $min_measure, $color_rangitoto_black, $color_silver, transparent);
        font: $body_font_2_high;
        position: absolute;
        right: 0.5vw;
      }
    }
    }
  }

  .total-info, .total-sum {
    @include flex-settings(row, space-between, center);
    padding-bottom: 1.5vh;
  }

  .total-sum {
    border-top: 1.5px solid $color_oxford_blue;
    padding-top: 3vh;
    h4 {
      font: $heading_font_7;
    }
  }

  @media screen and (min-width: 600px) {
    width: 50vw;
    padding: 7vh 4vw 2.5vh;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: 900px) {
    width: 35vw;
    padding: 7vh 4vw 2.5vh;
    top: 0;
    right: 0;
  }
}