@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 35vw;
  height: 100vh;
  color: $color_oxford_blue;
  background-color: $color_athens_gray_ligther;
  padding: 60px 45px;
  @include flex-settings(column, flex-start, flex-start);
  z-index: 30;
 
  span {
    position: absolute;
    font: $body_font_1_600;
    top: 2vh;
    right: 2vw;
    background-color: $color_silver;
    padding: 1vh 1vw;
  }

  p {
    font: $body_font_1_extra_high;
  }

  button {
    font: $body_font_1_600;
    border: none;
    color: inherit;
    background: none;
  }

  div {
    width: 100%;
  }
  .cart-header {
    @include flex-settings(row, flex-start, center);
    flex-wrap: wrap;
    padding: 1.5vh 0;
    h3 {
      font: $heading_font_7;
      padding-bottom: 0.5vh;
    }
    p {
      padding: 0 0.5vw;
    }
  }

  .cart-card {
    @include flex-settings(row, flex-start, stretch);
    width: 100%;
    height: 100px;
    margin-bottom: 1vh;
  
    div {
      border: 1px solid $color_silver;
    }

    .cart-card-image {
      width: 125px;
      height: inherit;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .cart-card-content {
      @include flex-settings(column, center, center);
      
      h5 {
        font: $heading_font_6;
        overflow-wrap: break-word;
        padding-bottom: 6px;
      }
      
      .edit-cart {
        @include flex-settings(row, center, center);
        position: relative;
        border: none;
        
        span {
          position: absolute;
          font: $body_font_2_high;
          bottom: 0;
          right: 2.5%;
        }
        input {
          width: 30px;
          height: 30px;
          padding: 5px;
          margin: 0 1vw;
          text-align: center
        }

        .btn {
        @include custom-buttons(30px, 30px, $color_rangitoto_black, transparent, $color_oxford_blue);
        &:hover {
          background-color: $color_white;
        }
      }

      .btn-disabled {
        @include custom-buttons(30px, 30px, $color_rangitoto_black, $color_silver, $color_oxford_blue);
      }}
    }
  }

  .total-info, .total-sum {
    @include flex-settings(row, space-between, center);
    padding-bottom: 1.5vh;
  }

  .total-sum {
    border-top: 1.5px solid $color_oxford_blue;
    padding-top: 3vh;
    h4 {
      font: $heading_font_7;
    }
  }
}