@mixin flex-settings($direction, $justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin custom-buttons($width, $height, $color, $bg-color, $border-color) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width;
  height: $height;
  color: $color;
  background-color: $bg-color;
  border: 1px solid $border-color;
}

@mixin letter-dist($space) {
  letter-spacing: $space;
}

@mixin wrap-line($lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}