/* fonts */

$heading_font_1: 700 normal 48px/58px “Proxima”, sans-serif;
$heading_font_2: 700 normal 40px/49px “Proxima”, sans-serif;
$heading_font_2_high: 700 normal 40px/60px “Proxima”, sans-serif;
$heading_font_3: 700 normal 32px/39px “Proxima”, sans-serif;
$heading_font_3_high: 700 normal 32px/50px “Proxima”, sans-serif;
$heading_font_4: 700 normal 28px/34px “Proxima”, sans-serif;
$heading_font_5: 700 normal 18px/22px “Proxima”, sans-serif;
$heading_font_6: 700 normal 14px/17px “Proxima”, sans-serif;
$heading_font_7: 700 normal 22px/26px “Proxima”, sans-serif;
$heading_font_8: 700 normal 20px/30px “Proxima”, sans-serif;

$heading_somantic: 400 normal 32px/39px “Somantic”, sans-serif;
$heading_somantic_2: 400 normal 54px/66px “Somantic”, sans-serif;

$body_font_1: 400 normal 16px/19px “Proxima”, sans-serif;
$body_font_1_500: 500 normal 16px/19px “Proxima”, sans-serif;
$body_font_1_600: 600 normal 16px/19px “Proxima”, sans-serif;
$body_font_1_high: 400 normal 16px/24px “Proxima”, sans-serif;
$body_font_1_extra_high: 400 normal 16px/30px “Proxima”, sans-serif;
$body_font_2: 400 normal 14px/17px “Proxima”, sans-serif;
$body_font_2_high: 400 normal 14px/24px “Proxima”, sans-serif;
$body_font_3: 400 normal 12px/14px “Proxima”, sans-serif;
$body_font_3_600: 600 normal 12px/14px “Proxima”, sans-serif;
$body_font_3_high: 400 normal 12px/16px “Proxima”, sans-serif;

/* colors */

$color_cape_brown: #A67744;
$color_beige: #F7F5E6;
$color_alabaster: #F7F7F7;
$color_athens_gray: #EEF2F4;
$color_athens_gray_lighter: #EEF3F4;
$color_silver: #BACAD1;
$color_silver_light: #E6E6E6;
$color_silver_rust: #C6B9B6;
$color_oxford_blue: #354E57;
$color_oxford_darker: #2B434B;
$color_forest_green: #293D45;
$color_como_green: #547665;
$color_mischka_lavender: #D7CCDD;
$color_rangitoto_black: #2E2E22;
$color_punch_red: #DE3B35;
$color_blue: #0014FF;
$color_white: #FFFFFF;
$color_brown: #956A53;
$color_light_grey: #E4ECEF;

$color_black_low_opacity: rgba(0, 0, 0, 0.1);
$color_white_low_opacity: rgba(255, 255, 255, 0.3);


$colors_map: (
  "oxford_blue": $color_oxford_blue,
  "cape_brown": $color_cape_brown,
  "como_green": $color_como_green,
  "silver_rust": $color_silver_rust,
);

/* spacing */

$min_measure: 30px;
$measure: 60px;