/* fonts */

$heading_font_1: 700 normal 48px/58px “Proxima”, sans-serif;
$heading_font_1_500: 500 normal 48px/58px “Proxima”, sans-serif;
$heading_font_2: 700 normal 40px/49px “Proxima”, sans-serif;
$heading_font_3: 700 normal 32px/39px “Proxima”, sans-serif;
$heading_font_4: 700 normal 28px/34px “Proxima”, sans-serif;
$heading_font_5: 700 normal 18px/22px “Proxima”, sans-serif;
$heading_font_6: 700 normal 14px/17px “Proxima”, sans-serif;

$body_font_1: 400 normal 16px/19px “Proxima”, sans-serif;
$body_font_1_high: 400 normal 16px/24px “Proxima”, sans-serif;
$body_font_2: 400 normal 14px/17px “Proxima”, sans-serif;
$body_font_2_high: 400 normal 14px/24px “Proxima”, sans-serif;
$body_font_3: 400 normal 12px/14px “Proxima”, sans-serif;
$body_font_3_high: 400 normal 12px/16px “Proxima”, sans-serif;

/* colors */

$color_cape_brown: #A67744;
$color_beige: #F7F5E6;
$color_alabaster: #F7F7F7;
$color_athens_gray: #EEF2F4;
$color_silver_rust: #C6B9B6;
$color_oxford_blue: #354E57;
$color_como_green: #547665;
$color_mischka_lavender: #D7CCDD;
$color_rangitoto_black: #2E2E22;
$color_punch_red: #DE3B35;
$color_blue: #0014FF;
$color_white: #FFFFFF;




