@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

@each $name, $color in $colors_map {
  .#{$name} {
    background-color: $color;
  }
}


.reverse {
    .colored-section-image {
      order: -10;
    }
  }

.colored-section {
  width: 100vw;
  height: 100vh;
  color: $color_white;
  @include flex-settings(column, stretch, stretch);

  div {
    width: 100%;
    height: 50%;
    @media screen and (min-width: 1000px) {
      width: 50%;
      height: 100%;
    }
  }
  .colored-section-content {
   @include flex-settings(column, center, flex-start);
   padding: 0 6vw 1vh;

   h3 {
     color: inherit;
     font: $heading_font_3_high;
     @include wrap-line(3);
     @media screen and (min-width: 600px) {
      hfont: $heading_font_2_high;
      @include wrap-line(2);
    }
   }
   p {
     color: inherit;
     font: $body_font_2_high;
     padding: 3vh 0;
     margin-bottom: 2vh;
     @include wrap-line(4);
     @media screen and (min-width: 600px) {
      hfont: $body_font_1_high;;
      @include wrap-line(3);
    }
   }
   }
 .colored-section-image {
   img {
     width: 100%;
     height: 100%;
     object-fit: cover;
   }
  }

  @media screen and (min-width: 1000px) {
    height: 80vh;
    @include flex-settings(row, stretch, stretch);
  }

 }

 .silver_rust .colored-section-content{
  p {
    color: $color_rangitoto_black;
  }
}