@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.landing {
  padding: 3vh 10vw 1.5vh;
  height: max-content;
  width: 100vw;
  @include flex-settings(row, center, center);

  .landing-content {
    height: 100%;
    width: 100%;
    @include flex-settings(column, space-around, flex-start);
    h2 {
      font: $heading_font_3;
      overflow-wrap: break-word;
      padding: 1vh 0;

      @media screen and (min-width: 600px) {
        font: $heading_font_1;
        padding: 1vh 0;
      }
    }
    p {
      width: 230px;
      margin-bottom: 2.5vh;
      font: $body_font_3_high;
      @include wrap-line(3);

      @media screen and (min-width: 300px) {
        width: 280px;
        font: $body_font_1_high;
      }
      @media screen and (min-width: 600px) {
        width: 395px;
        font: $body_font_1_high;
      }
    }
    @media screen and (min-width: 900px) {
      padding: 2.5vh 0;
    }
  }
  
  .image-container {
    display: none;
    
    @media screen and (min-width: 900px) {
      display: block;
      pading: 0;
      height: 500px;
      width: 500px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (min-width: 900px) {
    padding: 3vh 10vw 1.5vh;
    @include flex-settings(row, space-around, flex-start);
  }
}