@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.landing {
  padding: 20px 53px 0 53px;
  height: max-content;
  width: 100%;
  @include flex-settings(row, flex-start, flex-start);

  .landing-content {
    height: 100%;
    padding: 79px 15px 10px 0;
    @include flex-settings(column, space-around, flex-start);
    h2 {
      font: $heading_font_1;
      padding: 14px 0;
    }
    p {
      width: 395px;
      margin-bottom: 28px;
      font: $body_font_1_high;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
    }
  }
  
  .image-container {
    height: 427px;
    width: 427px;
    align-self: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}