@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.cards-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 10px;
  row-gap: 90px;
  place-items: center;

  .lg {
    width: 251px;
    height: 462px;
  }
  .xl {
    width: 251px;
    height: 660px;
  }
  .card-wrapper {
    position: relative;
    color: $color_rangitoto_black;
    @include flex-settings(column, space-between, flex-start);

    h4 {
      padding-top: 2vh;
      font: $heading_font_6;
    }
    p {
      font: $body_font_3_high;
      @include wrap-line(3);
    }
    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      background-color: $color_white;
    }
    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      &:hover {
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
      }
    }
    .extras-container {
      @include flex-settings(row, flex-start, center);
      padding-top: 1.5vh;
      .card-extra-bold {
        font: $heading_font_6;
        text-decoration: underline;
      }
      .card-extra-discount {
        color: $color_cape_brown;
      }
      p{
        &:nth-child(2n) {
        text-decoration: line-through;
        padding-inline-start: 2.5vw;
        }
      }
    }
    .rating-container {
      @include flex-settings(row, flex-start, center);
      padding-bottom: 2.5vh;
      p {
        font-weight: 700;
        padding-inline-end: 2vw;
      }
    }
  }

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  @media screen and (min-width: 1150px) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
  }
}