@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.cards-container {
  width: 100%;
  @include flex-settings(row, center, center);
  gap: 28px;
  flex-wrap: wrap;
  padding: 0 99px;

  .lg {
    width: 251px;
    height: 462px;
  }
  .xl {
    width: 300px;
    height: 540px;
  }
  .card-wrapper {
    position: relative;
    color: $color_rangitoto_black;
    margin-block-end: 1vh;
    @include flex-settings(column, space-between, flex-start);

    h4 {
      padding-top: 2vh;
      font: $heading_font_6;
      @include wrap-line(1);
    }
    p {
      font: $body_font_3_high;
      @include wrap-line(1);
    }
    img {
      width: 100%;
      height: 70%;
      object-fit: cover;
      background-color: $color_white;
      border: 5px solid $color_silver;
    }
    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      &:hover {
        opacity: 1;
        transition: opacity 0.4s ease-in-out;
      }
    }
    .p-xl {
      text-transform: lowercase;
    }
    .extras-container {
      @include flex-settings(row, flex-start, center);
      padding-top: 1.5vh;
      .card-extra-bold {
        font: $heading_font_6;
        text-decoration: underline;
      }
      .card-extra-discount {
        color: $color_cape_brown;
      }
      p{
        &:nth-child(2n) {
        text-decoration: line-through;
        padding-inline-start: 2.5vw;
        }
      }
    }
    .rating-container {
      @include flex-settings(row, flex-start, center);
      padding-bottom: 2vh;
      p {
        font-weight: 700;
        padding-inline-end: 2vw;
      }
    }
  }
  @media screen and (min-width: 820px) {
    @include flex-settings(row, space-between, center);
    padding: 0 139px;
  }
}