@import "../../../../assets/scss/variables.scss";

.header-container {
  color: $color_oxford_blue;
  background-color: $color_athens_gray;
  width: 100vw;
  height: 762px;
  padding: 44px 85px 0 85px;
}