@import "../../assets/scss/variables.scss";

.header-container {
  color: $color_oxford_blue;
  width: 100vw;
  background-image: url("../../assets/images/updated_Header-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-section-container-1 {
  padding: 82px 0 111px;
}

.card-section-container-2 {
  padding: 157px 0 163px;
}