@import "../../assets/scss/variables.scss";

@each $name, $color in $highlight_banner {
  .card-banner-#{$name} {
    width: 50px;
  height: 28px;
  background-color: $color_alabaster;
  text-align: center;
  padding: 8px 0;
  font: $body_font_3;
  color: $color;
  }
}

.hightlight-absolute {
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 10;
}