@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.banner-wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 40px;
  padding: 10px 5vw;
  color: $color_beige;
  background-color: $color_cape_brown;
  @include flex-settings(row, center, center);
  z-index: 15;
  h4 {
    font: $body_font_1_500;
    color: inherit;
    overflow-wrap: break-word;
    text-align: center;
  }
  @media screen and (min-width: 820px) {
    padding: 10px 174px;
  }
}