@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";

.banner-wrapper {
  width: 100vw;
  min-height: 40px;
  color: $color_beige;
  background-color: $color_cape_brown;
  @include flex-settings(row, center, center);
  h4 {
    font: $body_font_1_500;
    color: inherit;
    overflow-wrap: break-word;
    text-align: center;
  }
}