@import "../../assets/scss/variables.scss";

.banner {
  width: 100vw;
  height: 20px;
  color: $color_beige;
  background-color: $color_cape_brown;
  text-align: center;
  font: $body_font_1;
  font-weight: 500;
  padding: 10px 0;
}